body {
  margin: 0;
  font-weight: bolder;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.flexContent{
  padding: 50px;
  display: flex;
  flex-direction: row;
  

}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
}

.love {
  margin: 5% 30% 5% 30%;
  border: 9px solid #c4c2c2;
  padding: 15px;
  border-radius: 90px;
  border-color: pink;
  box-shadow: 3px 3px 3px 3px #525557;
  background-image: visibility;
  max-height: auto;
  background-image: url(Angiepr.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.marquee {
  color: red;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkblue;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: red;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: red;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;

}

.h1{
  color: white;
  text-align: center;
  font-size: 50px;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  margin: 0% 35% 0.5% 36%;
  border: 9px solid;
  border-radius: 1px;
  border-color: #f1077c;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: bolder;
  font-size: 20px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  font-style: italic;
  background-color: #f1077c;
  padding: 2px 16px;
  color: white;
  width: 380px;
}

.row{
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}